/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&family=Sedgwick+Ave&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body a,
li {
  text-decoration: none;
  list-style: none;
  font-family: "Sedgwick Ave", cursive;
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}

:root {
  --primary-color: #3f87f5;
}

/* Banner */
.banner__title {
  font-family: "Poppins", sans-serif;
  font-style: italic;
}
.slider__item::after {
  content: "";
  position: absolute;
  background-color: #000000a8;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.banner__details {
  margin: 0 auto;
  width: 30%;
  z-index: 1;
  transform: translateY(-200px);
}

.primary-button {
  outline: 0;
  border: 0;
  border-radius: 50px;
  background-color: #f3f3f3;
  color: var(--primary-color);
  font-weight: 600;
  padding: 10px 40px;
  margin: 0 auto;
}

/* Packages */
.packages ul {
  transform: translateX(-30px);
}

#highlight {
  transform: translateY(-45px);
  background-image: linear-gradient(45deg, #5b54fa, #538ffb);
  border-radius: 20px;
  padding: 0 20px;
}

.fa-check-circle {
  color: var(--primary-color);
  margin: 5px 0;
}

#highlight .hot__badge {
  border-radius: 50px;
  transform: translate(150px, -340px);
}

/* Photo album */
.album-title {
  font-family: "Sedgwick Ave", cursive;
}

.photo-frame {
  height: 250px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--primary-color);
}

.photo {
  width: 100%;
  height: 100%;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.photo-detail {
  position: absolute;
  width: 100%;
  height: 70%;
  top: 0;
  left: 0;
  padding: 5px;
  color: #fff;
  background-image: linear-gradient(45deg, #5c54faa6, #538ffb);
  font-size: 0.8rem;
  transform: translateY(250px);
}

.photo-frame:hover .photo-detail {
  transform: translateY(45px);
  transition: 0.7s ease-in;
}

.photo-frame:hover .photo img {
  transform: scale(1.2);
  transition: 0.7s ease-in;
}

/* Footer */
footer {
  padding: 50px 0;
  background-color: #0b0d17;
}

footer img {
  margin: 5px 0;
  border: 1px solid snow;
  height: 50px;
  width: 150px;
  border-radius: 5px;
}

/*......................................................
 ..............Mobile and Tablet Device Only............
 ....................................................... */

@media screen and (max-width: 540px) {
  /* Banner */
  .banner__slider .slider__item {
    height: 500px;
  }

  .slider__item img {
    object-fit: cover;
    min-height: 500px;
  }
  .banner__details {
    transform: translateY(0);
    width: 200px;
    z-index: 1;
  }
  /* Package */
  #highlight {
    transform: translateY(0px);
    padding: 10px;
  }
  #highlight .hot__badge {
    transform: translate(150px, -325px);
  }
}
