/* Font */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

:root {
  --primary-color: #3f87f5;
}

/* Navbar */
nav .nav__logo {
  font-size: 2em;
  font-weight: 700;
}
nav li {
  font-size: 1.2rem;
  font-weight: 500;
}

/* Banner */
.slider__item {
  position: relative;
}

.slider__item::after {
  content: "";
  position: absolute;
  background-color: #000000a8;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.banner__details {
  margin-bottom: 200px;
  z-index: 1;
}
.banner__details h1 {
  font-size: 4rem;
}
.banner__details p {
  font-size: 1.8rem;
}

.primary-button {
  outline: 0;
  border: 0;
  border-radius: 5px;
  background-color: #f3f3f3;
  color: var(--primary-color);
  font-weight: 600;
  padding: 10px 40px;
}

/* Packages */
.packages li {
  list-style: none;
}
.packages ul {
  position: relative;
  right: 30px;
}
#highlight {
  position: relative;
  bottom: 70px;
  right: 10px;
  background-image: linear-gradient(45deg, #5b54fa, #538ffb);
  border-radius: 20px;
  padding: 50px 30px 30px;
  color: white;
}
.fa-check-circle {
  color: var(--primary-color);
  margin: 5px 0;
}
.hot__badge {
  position: absolute;
  top: -12px;
  right: 20px;
  font-size: 16px !important;
  border-radius: 50px !important;
}

/* Footer */
footer {
  padding: 50px 0;
  background-color: #0b0d17;
}
footer img {
  margin: 5px 0;
  border: 1px solid snow;
  height: 50px;
  width: 150px;
  border-radius: 5px;
}
@media screen and (max-width: 540px) {
  /* Navbar */
  nav .nav__logo {
    font-size: 1em;
    font-weight: 700;
  }

  /* Banner */
  .banner__slider .slider__item {
    height: 500px;
  }
  .slider__item img {
    object-fit: cover;
    min-height: 500px;
  }
  .banner__details {
    margin-bottom: 10px;
  }
  .banner__details h1 {
    font-size: 2rem;
  }
  .banner__details p {
    font-size: 1.2rem;
  }

  #highlight {
    bottom: 5px;
  }
}
